*,
*::before,
*::after {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  text-align: center;
}
body{
  
  background-color: #14bdac;
}

button{
  background-color: #14bdac;
  margin-top:35px;
  padding-top:5px;
  box-shadow: 11px 15px 22px -4px rgba(0,0,0,0.56);
  border: none;
  border-radius: 5px;
  font-size: 40px;
  color: rgba(0,0,0,.75);
  cursor: pointer;
  outline: none;

}

h1{
  margin-bottom:3px;
  padding-bottom: 3px;
  font-family: 'Nunito', sans-serif;
  font-size: 45px;
  text-align: center;
  color: rgba(0,0,0,.60);
}

p{
  color: rgba(0,0,0,.75);
}

.square {
  width : 125px;
  height: 125px;
  font-size: 120px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 130px; 
}



.container{
  margin: auto;
  width: 390px;
  height: auto;
  position: flex;
  text-align: center;
}

.gameboard{
  width: 375px;
	height: 375px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}




.vert {
  border-left: 10px solid rgba(0,0,0,.54);;
  border-right: 10px solid rgba(0,0,0,.54);;
}
.hori {
  border-top: 10px solid rgba(0,0,0,.54);;
  border-bottom: 10px solid rgba(0,0,0,.54);;
}

.player{
  color: rgba(31, 30, 30, 0.9);
  font-family: 'Nunito', sans-serif;
}

.computer{ 
  color: rgb(237, 247, 203);
  font-family: 'Nunito', sans-serif;
}

.bottom{
  padding-bottom: 20px;
  margin-bottom: 30px;
}